blessed==1.19.1
imbalanced_learn==0.10.1
imblearn==0.0
joblib==1.2.0
matplotlib==3.5.1
nbclient==0.7.4
nbformat==5.8.0
numpy==1.22.4
openai==0.15.0
pandas==1.5.3
plotext==5.2.8
polars==0.17.9
prefect==2.10.6
prefect_jupyter==0.2.0
pydantic==1.10.4
pyfiglet==0.8.post1
pytest==7.3.1
scikit_learn==1.2.2
scipy==1.9.2
seaborn==0.11.2
termcolor==2.3.0